<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-7">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header" *ngIf="this.isAddingCompany else modifyingHeaderBlock">
          <h3 class="text-center font-weight-light my-4">Ajouter une entreprise</h3>
        </div>
        <ng-template #modifyingHeaderBlock>
          <div class="card-header">
            <h3 class="text-center font-weight-light my-4">Modifier une entreprise</h3>
          </div>
        </ng-template>

        <div class="card-body">
          <form
            novalidate
            [formGroup]="addCompany"
            (ngSubmit)="onSubmit(addCompany.value)"
          >
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                  <input
                    class="form-control"
                    id="inputName"
                    formControlName="inputName"
                    type="text"
                    placeholder="Nom"
                  />
                  <label for="inputName">Nom</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                  <input
                    class="form-control"
                    id="inputPhone"
                    formControlName="inputPhone"
                    type="text"
                    placeholder="Téléphone"
                  />
                  <label for="inputPhone">Téléphone</label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-0">
                <div class="form-floating mb-3 mb-md-0">
                  <input
                    class="form-control"
                    id="inputAddress"
                    formControlName="inputAddress"
                    type="text"
                    placeholder="Adresse"
                  />
                  <label for="inputAddress">Adresse</label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                  <input
                    class="form-control"
                    id="inputCity"
                    formControlName="inputCity"
                    type="text"
                    placeholder="Ville"
                  />
                  <label for="inputCity">Ville</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-3 mb-md-0">
                  <input
                    class="form-control"
                    id="inputCountry"
                    formControlName="inputCountry"
                    type="text"
                    placeholder="Pays"
                  />
                  <label for="inputCountry">Pays</label>
                </div>
              </div>
            </div>
            <div class="mt-4 mb-0" *ngIf="isAddingCompany; else modifyingButtonBlock">
              <div class="d-grid">
                <button
                  type="submit"
                  class="btn btn-warning btn-block"
                >Ajouter
                </button>
              </div>
            </div>
            <ng-template #modifyingButtonBlock>
              <div class="mt-4 mb-0">
                <div class="d-grid">
                  <button
                    type="submit"
                    class="btn btn-warning btn-block"
                  >Modifier
                  </button>
                </div>
              </div>
            </ng-template>
            <div class="mt-4 mb-0 text-center" style="color: red" *ngIf="error">
              {{errorMessage}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
