<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content=""
    />
    <meta
      name="author"
      content=""
    />
    <title>Dashboard - SB Admin</title>
  </head>
  <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <!-- Navbar Brand-->
      <a
        class="navbar-brand mt-3"
        [routerLink]="['/']"
      >
        <img
          src="assets/logo/logo.png"
          width="64"
          height="64"
          class="d-inline-block align-middle m-lg-2"
          alt=""
        >PagesJaunes
      </a>
      <!-- Navbar Search-->
      <form
        class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"
        novalidate
        [formGroup]="searchForm"
        (ngSubmit)="onSubmit(searchForm.value)"
      >
        <div class="input-group">
          <input
            class="form-control"
            type="text"
            placeholder="Recherche"
            formControlName="inputSearch"
          />
          <button
            class="btn btn-warning"
            id="btnNavbarSearch"
            type="submit"
          >
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav
          class="sb-sidenav accordion sb-sidenav-dark"
          id="sidenavAccordion"
        >
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading">Annuaire</div>
              <a
                class="nav-link"
                [routerLink]="['/creationPersonne']"
              >
                <div class="sb-nav-link-icon">
                  <i class="fas fa-user-plus fa-fw"></i>
                </div>
                Ajouter une personne
              </a>
              <a
                class="nav-link"
                [routerLink]="['/']"
              >
                <div class="sb-nav-link-icon">
                  <i class="fas fa-address-book fa-fw"></i>
                </div>
                Liste des personnes
              </a>
            </div>
          </div>
        </nav>
      </div>
      <div id="layoutSidenav_content">
        <main>
          <router-outlet></router-outlet>
        </main>
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4 ">
            <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted m-lg-auto">
                Copyright &copy; PagesJaunes Yann Malaquin 2021
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
